{% extends "App.twig" %}

{% block title %} Respostas {% endblock %}

{% block body %}
<!-- `accordion` fica elegante. -->
<div class="accordion text-justify" id="questions">

{% for question, answer in questions %}
  <div class="card">
    <div class="card-header">
      <!-- Note o uso da variável `loop.index`. Ela é criada pelo próprio Twig. -->
      <button
        class="btn btn-link text-left"
        type="button"
        data-toggle="collapse"
        data-target="#question{{ loop.index }}">
      <!-- `|raw` é necessário porque `question` contém HTML. -->
      {{ question|raw }}
      </button>
    </div>
    <div id="question{{ loop.index }}" class="collapse" data-parent="#questions">
      <div class="card-body">{{ answer|raw }}</div>
    </div>
  </div>
{% endfor %}

</div>
{% endblock %}
